body {
  font: halvetica;
  color: white;
  background: #4776E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8E54E9,
    #4776E6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom left,
    #4776E6,
    #8E54E9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  /* center layer using flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  /* center text horizentally and vertically */
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
h1 {
  font: halvetica;
  font-size: 3rem;
}
/* general style for buttons */
button {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 25px;
}
button:hover {
  color: #4776E6;
  border: 2px solid #4776E6;
  cursor: pointer;
}
/* general style for layer */
.layer {
  width: 80vw;
  min-width: 400px;
  max-width: 600px;
  height: 550px;
  background: #ff5e42;
  box-shadow: -20px 20px 10px 10px rgba(16, 79, 209, 0.7);
}
/* background circles and bars */
.circle {
  height: 100px;
  border: 30px solid white;
  width: 100px;
  position: fixed;
  z-index: -1;
  border-radius: 100%;
  transform: translate(180%, -170%);
}
.bigger {
  height: 200px;
  width: 200px;
  transform: translate(110%, -105%);
}
.bars {
  height: 40px;
  border: 30px solid white;
  width: 1000%;
  position: fixed;
  z-index: -1;
  transform: rotate(45deg) translateY(150%);
}
/* custom control items */
.custom {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.control {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 100px;
  margin: 0 5px;
}
.label {
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 26px;
}
.ctrls {
  height: 60px;
  display: flex;
}
.ctrls input {
  color: white;
  width: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  font-size: 40px;
  background: transparent;
  border: 1px solid #eee;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.buttons button {
  cursor: pointer;
  height: 30px;
  text-align: center;
  font-size: 31px;
  line-height: 30px;
}
.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.config > span {
  font-size: 2em;
  margin-top: 70px;
  display: block;
}
button[name="start"] {
  width: 150px;
  height: 60px;
  border: 2px solid white;
  text-align: center;
  font-size: 31px;
  margin: 0 auto;
  display: block;
}
/* styling for presets */
.presets {
  display: flex;
  justify-content: center;
}
.presets button {
  width: 100px;
  height: 100px;
  margin: 15px;
}
.presets span {
  font-size: 35px;
}
/* style timer display screen */
.display {
  text-align: center;
}
/* progress circle */
svg {
  display: block;
  margin: 0 auto;
}
.progress {
  stroke-dasharray: 754;
}
.Text {
  font-family: tahoma;
  font-size: 50px;
}
.endTime {
  font-size: 35px;
}
/* style screen displayed after counter complete */
.restart {
  height: 80px;
  border: 2px solid white;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.restart:hover {
  color: #4776E6;
  border: 2px solid #4776E6;
  cursor: pointer;
}
/* util classes to hide/show divs */
.hidden {
  display: none;
}
.visible {
  display: inline;
}
/* remove spinners from input field */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

