body {
    background-color: #589DB0;  
    color: white;
    background: #1a9dfd;
    width: 100vw;
    height: 100vh;

    /* center layer using flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer {
    width:80vw;
    min-width:400px;
    max-width: 600px;
    height: 500px;
   /* background: #ff5e42; */
    background: #fcc522;
    box-shadow: -20px 20px 10px 10px rgba(16, 79, 209, 0.7);
}


/* util classes to hide/show divs */
.hidden {
    display: none;
}
.visible {
    display: inline;
}

/* remove spinners from input field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* background circular shapes */
.circle {
    height:100px;
    border: 30px solid white;
    width: 100px;
    position: fixed;
    z-index:-1;
    border-radius: 100%;
    transform: translate(180%, -150%);
}
.bigger {
    height: 200px;
    width: 200px;
    transform: translate(110%, -92%);
}

/* background bars */
.bars {
    height:40px;
    border: 30px solid white;
    width: 1000%;
    position: fixed;
    z-index:-1;
   transform: rotate(45deg) translateY(150%);
}

/* aligning custom control items using flexbox */
.custom {
    width: 450px;
    display: flex;
}
.control {
    display:flex;
    flex-direction: column;
    width: 120px;
    height:120px;
}
.label {
    height:40px;
}
.ctrls{
    height:80px;
    display: flex;
}
.buttons {
    display:flex;
    flex-direction: column;
}



h1 {
    font: halvetica;
    font-size: 3rem;
}

